.home {
    &-content-blocks {
        @screen xl {
            a {
                @apply overflow-hidden relative;

                &::before {
                    content: '';
                    @apply absolute block border-2 border-white duration-300 ease-out inset-2.5 scale-125 transform transition z-10;
                }

                &:hover {
                    &::before {
                        @apply scale-100;
                    }
                }
            }
        }
    }

    &-retrieve-post {
        @screen xl {
            .box-retrieve {
                img,
                button,
                .box-retrieve-title {
                    @apply duration-300 ease-out transition;
                }

                img {
                    @apply transform;
                }

                &:hover {
                    img {
                        @apply scale-110;
                    }

                    button {
                        @apply bg-yellow-400 shadow-md;
                    }

                    .box-retrieve-title {
                        @apply text-yellow-400;
                    }
                }
            }
        }
    }

    &-icko-focus {
        .f-m-images {
            a {
                &::after {
                    content: '';
                    @apply absolute bg-focus-pointer bg-full-auto bg-no-repeat bottom-9 h-20 left-1/2 transform -translate-x-1/2 w-12.5;
                }
            }
        }

        .focus-img {
            .focus-text {
                text-shadow: 0 2px 8px rgb(0, 0, 0, .5);
            }
        }

        .focus-content {
            a {
                &::before {
                    content: '';
                    @apply absolute bg-concord h-px left-0 top-2.5 w-5;
                }
            }
        }

        @screen md {
            .f-m-images {
                a {
                    &::after {
                        @apply bottom-9 h-25.5 w-16;
                    }
                }
            }
        }

        @screen xl {
            .f-m-images {
                a {
                    &::after {
                        @apply bottom-11 h-28 w-17.5;
                    }
                }
            }
        }
    }
}